@charset "utf-8";

/* Web Font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 공통 코드 */
html {
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}  
body {
  font-size: 1.4rem;
}
a {
  color: #333;
  text-decoration: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.readable-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}


/* Mobile & Tablet Device */
@media screen and (max-width: 999px) {

}

/* Laptop & WideScreen Device */
@media screen and (min-width: 1000px) {
  /* header area */
  .header {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 50px 50px; 
    grid-column-gap: 20px;    
    grid-column: 1 / span 12;
  }
  .logo{
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    justify-items: center;
    align-items: center;
  }
  .menu-list {
    grid-column: 9 / span 4;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .menu-list .menu-list-item:first-child::after,
  .menu-list .menu-list-item:nth-child(2)::after {
    content: "|";
  }
  .menu-list a {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 7px 14px;
  }
  .search {
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .search input, .search button {    
    height: 35px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  .search input {
    width: 400px;
    padding: 0 10px;
  }
  .search button {
    background-color: #988574;
    color: #fff;
  }
  /* nav area */
  .navigation {
    grid-column: 1 / span 12; 
    background-color: #988574;
    padding-top: 20px;
    color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  .nav-menu {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu-heading {
    display: block;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 700;
    text-shadow: 1px 0 0 #000,
                 0 1px 0 #000,
                 -1px 0 0 #000,
                 0 -1px 0 #000;
    padding: 10px 0;
  }
  .sub-menu-list {
    margin: 10px 0 10px 15px;
  }
  .sub-menu-list a {
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .sub-menu-list a:focus, 
  .sub-menu-list a:hover {
    color: yellow;
  }
  /** main area **/
  .main {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-column-gap: 20px;
    grid-template-rows: 1fr 0.5fr;
    grid-row-gap: 20px;
  }
  .recommend-heading, 
  .news-heading, 
  .board-heading, 
  .twitter-heading, 
  .favorite-site-heading {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 0 0 65px;
    background-image: url("https://seulbinim.github.io/rwd/css/images/sprite_main.png");
    background-repeat: no-repeat;
  } 
  .eng-heading {
    display: block;
  } 
  /* recommend-book area */
  .recommend-book {
    grid-column: 1 / span 4;
    grid-row: span 1;
  }
  .recommend-heading {
    background-position: 0 0;
  }
  .recommend-heading .eng-heading {
    color: #abd375;
  }
  .book-title {
    text-align: center;
    margin: 1rem;
  }
  .book-title img{
    width: 80%;
    height: auto;
  }
  .book-info {
    text-align: center;
    margin: 1rem;
  }
  .book-author {
    display: inline;
  }
  .book-score {
    font-size: 3rem;
    line-height: 2rem;
    color: #abd375;
  }
  .book-description {
    margin: 2rem 0;
  }
  /* news area */
  .news {
    grid-column: span 8;
  }
  .news-heading {
    background-position: 0 -230px;
  }
  .news-heading .eng-heading {
    color: #e8ca58;
  }
  .video-container video {
    width: 100%;
    height: auto;
  }
  .news-description {
    margin: 1rem 0;
  }
  .news-time {
    display: block;
    text-align: right;
  }
  .icon-calendar::before {    
    font-family: "fontello";
    content: '\e800';
  }

  /* board area */
  .board {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    position: relative;
  }
  .board-heading {
    background-position: 0 -115px;
  }
  .board-heading .eng-heading {
    color: #c7b39a;
  }
  .icon-star::before {
    font-family: "fontello";
    content: '\e801';
  }
  .board-list-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  .board-list-item a  {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
  }
  .board-list-item time {
    padding-left: 0.5rem;
  }
  .board-more {
    position: absolute;
    top: 3rem;
    right: 0;
    display: flex;
    align-items: center;
  }
  .icon-plus::before {
    font-family: "fontello";
    content: '\e802';
    color: #abd375;
    font-size: 1rem;
  }

  /* twitter area */
  .twitter {
    grid-column: span 5;
    grid-row: 2 / span 1;
  }
  .twitter-heading {
    background-position: 0 -460px;
  }
  .twitter-heading .eng-heading {
    color: #6aaee6;
  }
  .twitter-info .user-name {
    color: #6aaee6;
    display: inline;
  }
  .twitter-info .user-id {
    font-weight: 700;
    display: inline;
  }
  .twitter-profile {
    float: right;
    position: relative;
    top: -2rem;
  }
  .twitter-profile img {
    border-radius: 50%;
    border: 1px solid #000;
    padding: 0.5rem;
    margin-left: 1rem;
  }
  .twitter-description {
    margin: 2rem 0;
  }
  .twitter-time {
    display: block;
    text-align: right;
    clear: both;
  }

  /* favorite-site area */
  .favorite-site {
    grid-column: span 3;
    grid-row: 2 / span 1;
  }
  .favorite-site-heading {
    background-position: 0 -345px;
  }
  .favorite-site-heading .eng-heading {
    color: #eea60e;
  }
  .favorite-site-list {
    overflow: hidden;
  }
  .site-list-item {
    counter-increment: number;
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .site-list-item::before {
    content: counter(number);
    padding: 0 0.6rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background: #eea60e;
    color: #fff;
  }

  /* slogan area */
  .slogan {
    width: 1000px;
    margin: 0 auto;
    grid-column: 1 / span 12;
    position: relative;
  }
  .slogan-heading {
    position: absolute;
    width: 110px;
    height: 83px;
    color: transparent;
  }
  .slogan-heading::after {
    content: "";
    background-image: url("../images/coffee.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -3rem;
  }
  .slogan-content {
    padding: 1rem 10rem 1rem 13rem;
    font-size: 1.7rem;
  }
  .slogan-quote::before {
    font-size: 4rem;
    position: relative;
    top: 1rem;
  }
  .slogan-quote::after {
    content: "";
  }

  /* footer area */
  .footer {
    grid-column: 1 / span 12;
    background: #988574;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  .footer .address a {
    color: #fff;
  }
  .footer .copyright {
    margin-top: 1rem;
  }
}